.article-card {
  position: relative;
  width: 100%;
  background-color: #000;
  min-width: 400px;
  height: 275px;
  user-select: none;
  overflow: hidden;
}

.article-card .thumbnail {
  position: absolute;
  width: 105%;
  height: 105%;
  opacity: 0.33;
  transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 300ms,
    height cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-card:hover .thumbnail {
  width: 120%;
  height: 120%;
}

.article-card .information {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 24px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.article-card .title {
  color: #fff;
  font-size: 18px;
  flex: 1;
  text-decoration: none;
}

.article-card .title:hover {
  text-decoration: underline;
}

.article-card .voter {
  flex: 0;
}
